*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding: 0 6px 6px 6px;
    background-color: black;
}
.container {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-grow: 1;
    color: #fff;
}
#activity-bar{
    width: 45px;
    background-color: #24272e;
    margin: 1px;
    height: calc(100vh - 49px);
}
#editor-space{
    width: 55%;
}
#task-bar{
    height: 32px;
    background-color: #24272e;
    margin: 1px 0;
    display: flex;
}
label i{
    margin: 0 8px;
}
label{
    display: flex;
    align-items: center;
    background: #24272e;
    height: 32px;
    font-size: 13px;
    font-weight: 300;
    padding: 16px;
    cursor: pointer;
}
label.active {
    background-color: #3e4451;
    color: #ffffff;
    font-weight: bold;
}
#code-editor, .right-section{
    height: calc(100vh - 83px);
}
textarea{
    width: 100%;
    height: calc(100vh - 82px);
    background: #1f2228;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 14px;
    display: none;
    resize: none;
}
textarea.active {
    display: block;
}

.right-section{
    width: 45%;
}
.right-section label{
    margin: 1px 0;
}
.reference-space{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.reference, .preview{
    filter: brightness(1.1);
    height: 50%;
    width: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    overflow: hidden;
    display: block;
}

#error-message{
    position: absolute;
    bottom: 0;
    font-size: small;
    margin: 4px;
}

/* ---- G L U T T E R ----- */
.split {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#editor-space, #preview-space{
    filter: brightness(1.1);
}

.gutter-vertical,
.gutter-horizontal {
    position: relative;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter-vertical {
    height: 100%;
    width: 10px;
    cursor: col-resize;
    background-image: url('img/gutter-vertical.png');
}
.gutter-horizontal {
    width: 100%;
    height: 10px;
    cursor: row-resize;
    background-image: url('img/gutter-horizontal.png');
}

.gutter-vertical::after,
.gutter-horizontal::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease, transform 0.2s ease, height 0.2s ease, width 0.2s ease;
}

.gutter-vertical::after {
    width: 2px;
    height: 50%;
}
.gutter-horizontal::after {
    width: 50%;
    height: 2px;
}

.gutter-vertical:hover::after {
    opacity: 1;
    height: 92%;
}
.gutter-horizontal:hover::after {
    opacity: 1;
    width: 92%;
}

.gutter-vertical:active::after {
    opacity: 1;
    height: 98%;
}
.gutter-horizontal:active::after {
    opacity: 1;
    width: 98%;
}